{% load i18n %}
<footer class="site-footer row-fluid">
  <div class="site-footer-contents span6 offset3 row-fluid">
    <ul class="footer-site-nav span4">
      {% for nav_link in site.nav %}
        <li class="footer-site-nav-item"><a href="{{ nav_link.href }}" title="{{ nav_link.title }}" class="site-nav-link">{{ nav_link.label }}</a></li>
      {% endfor %}
    </ul>
    <div id="hcard-Jean-Williams" class="vcard span4">
      <div class="row-fluid">
        <div>
          <p><span class="fn">{{ site.author }}</span>, {% trans 'Handweaver' %}</p>
          <p>{% trans 'Textiles to delight your heart and home' %}</p>
          <p>
            <a class="email" href="mailto:{{ site.author_email }}">{{ site.author_email }}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="copyright span4">&copy; {{ site.copyright }} {{ site.author }}</div>
  </div>
</footer>
