{% load i18n %}
<header class="site-header row-fluid">
  <div class="site-header-contents span6 offset3">
    <div class="site-header-brand">
      <h1 class="site-name"><span class="fn">{{ site.author }}</span>, {% trans 'Handweaver' %}</h1>
      <h2 class="site-tagline">{% trans 'Textiles to delight your heart and home' %}</h2>
    </div>
    <nav>
      <ul class="site-nav">
        {% for nav_link in site.nav %}
          <li class="site-nav-item"><a href="{{ nav_link.href }}" title="{{ nav_link.title }}" class="site-nav-link">{{ nav_link.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
