{% extends page.layout %}
{% block main %}
<div class="row-fluid">
  <div class="span6 offset3">
  <h2>{% trans %}Drawn to the Loom{% endtrans %}</h2>
  <p>{% trans %}I come from a long line of artisans, although they wouldn’t call themselves that. They used the tools and materials available to create something beautiful and useful.  My journey into weaving began by watching one grandmother crochet, another quilt, seeing the rag rugs woven by my parents on the old loom in the basement. These voices joined those of teachers and friends who shared their love of fiber.{% endtrans %}</p>
  <p>{% trans %}Weaving satisfies a curiosity for me.   Beautiful textiles intrigue me and make me wonder how they “work”, how the weaver gets the threads to do what they do.  And how can I use that technique?{% endtrans %}</p>
  <p>{% trans %}Each of my pieces begins with a purpose. What am I weaving? How will it be used? What does it need to be? That purpose will determine the structure –how the threads interlace–and fiber.  Damask calls for fine yarns with lots of luster to accentuate the pattern. Towels need to be thirsty, using cotton or linen in a weave that is sturdy. Scarves should be soft against the skin. Stuffed animals call for textured yarn and pattern to imitate their hides.{% endtrans %}</p>
  <p>{% trans %}My interests have grown to include fancy twills, multi-shaft patterning, color, and structure.  I am currently drawn to adapting historical drafts from early manuscripts into textiles for the 21st century.{% endtrans %}</p>
  <p>{% trans %}Weaving presents lots of questions. The joy of weaving is discovering the answers to those questions. I choose the fiber, the color, the weave structure. Then I see what happens! Each item is one-of-a-kind, a unique expression of design and thread.{% endtrans %}</p>
  <p>{% trans %}Let me share my discoveries with you!{% endtrans %}</p>
  </div>
</div>
{% endblock %}
