{% extends page.layout %}
{% load i18n %}
{% block main %}
<div class="row-fluid">
  <div class="span3 offset3">
    <h2>{% trans 'Exhibits' %}</h2>
  </div>
</div>
<div class="row-fluid">
  <div class="span3 offset3">
    <div class="exhibit">
      <p class="exhibit-title">Holiday Exhibition and Sale</p>
      <p class="exhibit-organization">Columbia Weavers and Spinners Guild</p>
      <p class="exhibit-location">Boone County Historical Society Museum</p>
      <p class="exhibit-location">Columbia, Missouri</p>
      <p class="exhibit-dates">November 8-10, 2013</p>
    </div>

    <div class="exhibit">
      <p class="exhibit-title">Dancing on the Breeze</p>
      <p class="exhibit-event">Prairie Winds Midwest Weavers Conference</p>
      <p class="exhibit-location">Emporia, Kansas</p>
      <p class="exhibit-dates">June 20-22, 2013</p>
    </div>

    <div class="exhibit">
      <p class="exhibit-title">Dust in the Wind</p>
      <p class="exhibit-event">Prairie Winds Midwest Weavers Conference</p>
      <p class="exhibit-location">Emporia, Kansas</p>
      <p class="exhibit-dates">June 20-22, 2013</p>
    </div>

    <div class="exhibit">
      <p class="exhibit-title">Throw Caution to the Wind</p>
      <p class="exhibit-event">Prairie Winds Midwest Weavers Conference</p>
      <p class="exhibit-location">Emporia, Kansas</p>
      <p class="exhibit-dates">June 20-22, 2013</p>
    </div>

  </div>
  <div class="span3">
    <div class="exhibit">
      <p class="exhibit-title">Holiday Exhibition and Sale</p>
      <p class="exhibit-organization">Columbia Weavers and Spinners Guild</p>
      <p class="exhibit-location">Boone County Historical Society Museum</p>
      <p class="exhibit-location">Columbia, Missouri</p>
      <p class="exhibit-years">1990-2012</p>
    </div>

    <div class="exhibit">
      <p class="exhibit-title">MOPACA Invitational Alpaca Show</p>
      <p class="exhibit-event">Fiber Arts Competition</p>
      <p>First Place – Alpaca Merino Sweater</p>
      <p class="exhibit-years">2009</p>
    </div>
  </div>
</div>
{% endblock %}
