{% extends page.layout %}
{% load i18n %}
{% block main %}
<h2>{% trans 'Tools' %}</h2>

To give you an idea of what goes into each handwoven textile in this collection:
 
(photos of each loom)
 
1)      (photo of computer planning) I plan each project on computer, calculating the amount of yarn needed and the weave structure I will use.
2)      (photo of warping board) The yarn is measured on a warping board with pegs 36” apart. A typical towel can use more than 560 threads for the warp.
3)      (photo of threading) Each warp thread has to be threaded through the reed and through a heddle on one of the shafts.
4)      (photo of warp ready to weave) After threading the warp, it is wound around the warp beam and the project is ready for weaving.
5)      (photo of work in progress) Weaving proceeds for however many yards are used for the project. I typically weave 8 towels at a time –roughly 9 yards of fabric.
6)      (photo of warp off the loom) After weaving those 9 yards, the fabric is removed from the loom, ends are secured, and the fabric is washed to set the weave.
7)      (photo of fabric pinned and ready for hemming) Each item is hemmed and labeled after washing.
8)      (photo of finished product) The handwoven textile is ready!
{% endblock %}
