{% extends galleries.base_layout %}
{% block main %}
<div class="row-fluid">
  <div class="page-content span6 offset3">
    {% block gallery_content %}{% endblock %}
  </div>
</div>
<div class="row-fluid">
  <div class="span6 offset3">
    <ul class="image-set">
      {% for photo in page.photos %}
        <li class="image-set-item">
          {% if photo.link_url %}
            <a href="{{ photo.link_url }}" title="{{ photo.title }}" class="gallery-link">
              {% if photo.title %}<span class="gallery-link-title">{{ photo.title }}</span>{% endif %}
              <img class="image-set-image gallery-link-image" src="{{ galleries.base_photo_url }}{{ photo.src_path }}"{% if photo.alt %} alt="{{ photo.alt }}"{% endif %}{% if photo.title %} title="{{ photo.title }}"{% endif %}>
            </a>
          {% else %}
          <img class="image-set-image" src="{{ galleries.base_photo_url }}{{ photo.src_path }}"{% if photo.alt %} alt="{{ photo.alt }}"{% endif %}{% if photo.title %} title="{{ photo.title }}"{% endif %}{% if photo.detail_src_path %} data-detail-src="{{ galleries.base_photo_url }}{{ photo.detail_src_path }}"  data-src="{{ galleries.base_photo_url }}{{ photo.src_path }}"{% endif %}>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
