{% extends page.layout %}
{% block gallery_content %}
<h2>{% trans %}Damask{% endtrans %}</h2>
<p>{% trans %}Damask is a turned satin. Satin is a simple weave like plain weave and twill.  It has one warp and one weft. The warp shows more on one side and the weft shows more on the other. Because it has longer floats than plain weave or twill, it looks shiny. Patterns are designed to show warp-dominated figures on a weft-dominated background.{% endtrans %}</p>
<p>{% trans %}In damask, each pattern row requires five or more throws of the shuttle. Each piece takes that much longer to weave, but also results in a finer textile.{% endtrans %}</p>
{% endblock %}
