.blog-posts {
  list-style: none;
  margin-left: 0;
}

.blog-post {
  border-top: 2px solid #bbb;
  margin-top: 40px;
  clear: both;
}

.blog-post+.blog-post {
  margin-top: 40px;
}

.blog-post h1 {
  font-size: 24px;
  line-height: 24px;
}

.blog-post h2 {
  font-size: 21px;
  line-height: 21px;
}

.blog-subscribe-link {
  font-size: 150%;
  line-height: 200%;
}

.blog-subscribe-link:link, .blog-subscribe-link:active, .blog-subscribe-link:hover, .blog-subscribe-link:visited {
  text-decoration: none;
}

.post-quote-text:before, .post-quote-text:after {
  content: "\0022";
}

.post-quote-source:before {
  content: "-";
}

.post-chat-line {
  padding: 5px;
  background-color: #eef;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-text img {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* TODO clean this up*/

.blog-post-artcle {
  width: 70%;
  margin: auto;
}

.post-content {
  line-height: 180%;
}

.post-content p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.post-content img {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(221, 221, 221) rgb(204, 204, 204) rgb(204, 204, 204) rgb(221, 221, 221);
  box-shadow: 4px 4px 12px rgb(204, 204, 204);
  position: relative;
  max-width: 100%;
  padding: 3px;
  margin-bottom: 1.625em;
}

.post-content .alignleft {
  display: inline;
  float: left;
  margin-right: 1.666em;
}

.post-content .alignright {
  display: inline;
  float: right;
  margin-left: 1.666em;
}
