{% extends page.layout %}
{% block main %}
<div class="row-fluid">
  <div class="page-content span6 offset3">
    <a href="http://jeanweaves.tumblr.com/rss" title="{% trans %}Subscribe to posts{% endtrans %}" class="blog-subscribe-link">{% trans %}Subscribe{% endtrans %}</a>
    <ol class="blog-posts">
      {% for post in posts %}
        <li class="">
          <article class="blog-post-artcle">
            <h1 class="post-text-title">{{ post.title|safe }}</h1>
            <h2><time datetime="{{ post.date|date('c') }}" pubdate>{{ post.date|date('DATETIME_FORMAT') }}</time></h2>
            <div class="post-content">{{ post.content|safe }}</div>
          </article>
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}
