{% extends page.layout %}
{% load i18n tz %}
{% block main %}
<div class="row-fluid">
  <div class="page-content span6 offset3">
    {# TODO wrap articles with ol/li #}
    <ol class="blog-posts">
      {% for post in posts %}
        <li>
          <article class="blog-post">
            <h1>{{ post.title }}</h1>
            <h2><time datetime="{{ post.time|date:'c' }}" pubdate>{{ post.time|localtime }}</time></h2>
            {{ post.body|safe }}
          </article>
        </li>
      {% endfor %}
    </ol>
    <a href="http://jeanweaves.tumblr.com/rss">{% trans 'RSS' %}</a>
  </div>
</div>
{% endblock %}
